:root {
  --background_nav: #104eb0;
  --fonts: #ffffff;
  --body_background: #151515;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--fonts);
}

body {
  background-color: var(--body_background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Section Main*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#section_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section_principal h1 {
  font-size: 4rem;
  margin-top: 2rem;
  text-align: center;
}
#section_principal p {
  margin-top: 2rem;
  max-width: 800px;
  text-align: center;
}

#section_principal a {
  margin-top: 1.5rem;
  width: fit-content;
  border-radius: 12px;
  background-color: var(--background_nav);
  color: var(--fonts);
  padding: 0.5rem;
  text-decoration: none;
}

#descripcion {
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

#descripcion h2 {
  font-size: 2rem;
}

/*Cards*/

#cards {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards li {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#cards picture {
  height: 300px;
  max-height: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}
#cards img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#cards p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#cards li {
  list-style: none;
}

#cards a {
  width: fit-content;
  border-radius: 12px;
  background-color: var(--background_nav);
  color: var(--fonts);
  padding: 0.5rem;
  text-decoration: none;
}

/*Footer*/

#pie_de_pagina {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
#pie_de_pagina picture {
  height: 2rem;
  max-height: 2rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
#pie_de_pagina picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#pie_de_pagina nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#pie_de_pagina p {
  font-size: 1rem;
  text-align: center;
}
